# === Locator ===
Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 4061

# === Node ID ===
IceGrid.Node.Name=node1
IceGrid.Node.Data=node1

# === Node endpoints ===
IceGrid.Node.Endpoints=tcp

# === Enable collocated Registry ===
IceGrid.Node.CollocateRegistry=1

# === Registry endpoints ===
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp

# === Registry persistent DB ===
IceGrid.Registry.LMDB.Path=registry

# === Dummy verifiers for development ===
IceGrid.Registry.PermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier

# === Templates ===
IceGrid.Registry.DefaultTemplates=/usr/share/ice/templates.xml
